.wrapNav {
    background-color: #6b1a18;
    color: white;
    display: flex;
    justify-content: center;
    padding: 7px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.wrapNav > .container {
    width: 65%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .wrapNav > .container {
        width: 90%;
    }
}

.wrapNav > .container > .left > a >img {
    width: 60px;
}

.wrapNav > .container > .right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.wrapNav > .container > .right > ul {
    display: flex;
    list-style: none;
}

.wrapNav > .container > .right > ul > li {
    margin-left: 30px;
    cursor: pointer;
    position: relative;
}
.wrapNav > .container > .right > ul > li > a{
    color: unset;
    text-decoration: unset;
}

.wrapNav > .container > .right > ul > li>a:after {
    content: "";
    width: 0;
    min-height: 3px;
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.wrapNav > .container > .right > ul > li>a:hover:after {
    width: 100%;
}
.bergerBar{
    display: none;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 3px 15px;
    margin: 5px 0;
    border: 1px solid white;
    background-color: #883532;
}

@media (max-width: 768px) {
    .wrapNav > .container > .right {
        display: none;
        justify-content: start;
        align-items: center;
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        background-color: white;
        color: #3d3d3d;
        border-radius: 0 0 20px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
    .wrapNav > .container > .right > ul {
        display: flex;
        flex-direction: column;
    }
    .wrapNav > .container > .right > ul > li{
        margin: 10px 0;
    }
    .bergerBar{
        display: flex;
        align-items: center;
    }

}

